[user]
  name = Søren Louv-Jansen
  email = slo@tradeshift.com
[core]
  editor = sublime
  precomposeunicode = true
[web]
  browser = google-chrome
[push]
  default = simple
[color]
  ui = always
[diff]
  tool = kaleidoscope
[difftool]
  prompt = false

